<h1><%=@article.title%></h1>

<p><%=@article.content.gsub(/\[/,"").gsub(/\]/,"").gsub(/\"/,"").split(",").join%></p>


<%=link_to "edit", edit_article_path(@article)%>
<%=link_to "delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>
<%=link_to "back to all articles", articles_path%>

